.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
    padding: 0.25rem 2rem;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    background-color: #f9f9f9;

}
.list-item, .title {
  color: initial !important;
}
title {
    font-weight: bold;
    color: #333;
}

.button-container {
    display: flex;
    align-items: center;
}

.delete,
.edit {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    min-width: 2.5rem;
    font-size: 1rem;
}

.delete {
    background-color: #fb1e43;
}

.edit {
    background-color: #007bff;
}