.App {
  min-height: 100vh;
}


.container {
  
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 8px;
  margin: 3rem auto;
  max-width: 35rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.light {
  background-color: white;
  color: black;
  transition: all 500ms;
}

.dark {
  background-color: black;
  color: white;
  transition: all 500ms;
}
